<ul>
  <% @posts.each do |post| %>
  <li>
    <%= post.title %>
  </li>
  <li>
    <!-- <%= link_to "code", post.snippet.url %> -->
    <%= link_to "post", post_path(post) %>
  </li>
  <% end %>
</ul>
