<ul>
  <% @posts.each do |post| %>

  <div id="postsContainer">
    <div id="post">
      <%= link_to post.title, post_path(post) %>
    </div>
  </div>
  <% end %>
</ul>

<%= link_to 'download 1', home_download_rb_url %>
