// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: white;
}

#brand {
  color: black;
  font-family: monaco;
  font-size: 30px;
  letter-spacing: -3px;
  font-weight: 900;
}

#logInLogOut {
  position: absolute;
  top: 15%;
  right: 2%;
  font-family: monaco;
  letter-spacing: 0px;
}

.dropdown {
  position: absolute;
  right: 2%;
  top: 20%;
  font-family: monaco;
  letter-spacing: 0px;
}

pre {
  display: inline-block;
  overflow: hidden;
  background: #002A35!important;
  color: #93A1A1!important;
}
// pre {
//   background: #002A35!important;
//   color: #93A1A1!important;
// }

#postTitle {
  font-size: 40px;
  text-align: left;
}

#comment {
  float: left;
}

#post {
  width: 150px;
  height: 150px;
  border: 2px solid #679436;
  border-radius: 10px;
  float: left;
  margin: 15px;
  text-align: center;
  color: black;
}

.navbar {
  background-color: #427AA1;
}

#codeContainer, #commentBox {
  display: inline-block;
  text-align: left;
}

#outerCodeContainer {
  text-align: center;
}

.buttons, .createNew, #dropdownMenu1 {
  background-color: #679436;
  border-color: #679436;
}

span {
  font-size: 17px;
  bottom: -10;
}
